# điền vào những chỗ còn trống sau dấu bằng thích hợp và lưu lại với tên .env
PORT=
REACT_APP_PAYMENT_FAIL='http://<front_end_host>/payment/fail'
REACT_APP_BEHOST= <back_end_host>
REACT_APP_SEC_KEY=
REACT_APP_MAGIC_PASS=
REACT_APP_GET_ADDRESS_TOKEN=
REACT_APP_GET_PROVINCES_URL='https://online-gateway.ghn.vn/shiip/public-api/master-data/province'
REACT_APP_GET_DISTRICTS_URL='https://online-gateway.ghn.vn/shiip/public-api/master-data/district'
REACT_APP_GET_WARDS_URL='https://online-gateway.ghn.vn/shiip/public-api/master-data/ward'
REACT_APP_PAYMENT_SUCCESS='http://<front_end_host>/payment/success'
REACT_APP_GET_DELIVERY_INFO='/cart/shipping_information'
REACT_APP_GET_SHIPPING_PRICE='/cart/delivery'
REACT_APP_GET_PRODUCT_DETAIL='/product/details'
REACT_APP_GET_CUSTOMER_ORDER='/account/user_info/user_order_overview'
REACT_APP_GET_ORDER_DETAIL='/account/user_info/user_order_detail/info'
REACT_APP_CREATE_ORDER='/cart/order_create'
REACT_APP_ADMIN_KEY=30
REACT_APP_USER_KEY=31
REACT_APP_ROLE_ADMIN=2
REACT_APP_ROLE_USER=1