.head__nav_signin_menu{
    justify-content: space-between;
    display: flex;
    width: 40%;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 500;
}

.head__nav_signin_menu a{
    color: black;
}

.head__nav_signin_menu a svg{
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.dropdown-menu{
    margin-top: 1rem;
}

.add_cart_toats{
    position: absolute;
    top: 23% !important;
    right: 20%!important;
}

.toast-header{
    border-bottom: 1px solid rgb(224, 74, 74);;
}

.toast-body{
    background-color: white;
}

.logo_container{
    margin: auto 0;
}