.product__detail{
    display: block;
}

.produtct__detail_head_left{
    height:20em;
}

.product__detail_head{
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding:1rem 0;
}

.product__detail_head_right{
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.product__detail_info, .product__detail_comment{
    background-color: white;
    margin: 1rem 0;
    padding: 0 1.5rem;
}


.product__detail_info_title{
    font-size: 1.5em;
    background: #F5F5F5;
    padding: 0 1rem;
}

.product__detail_info table{
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}

.product__detail_info tr td:nth-child(1){
    width: 35%;
}


.product__detail_info_content{
    padding: 0 1rem;
}

.button_flex_warp{      
    background: #FFE8E8;
    border: 1px solid #FFBBBB;
    border-radius: 5px;
    color: #FF5D5D;
}

.location__icon{
    align-self: center;
    font-size: 2rem;
}

.rating__overview{
    justify-content: center;
    background: #FFF8F8;
    border: 0.3px solid #000000;
    color: #E04A4A;
    column-gap: 5rem;
    align-items:center;
    padding: 1rem 0;
}

.rating__overview span{
    font-size: 2rem;
}

.rating__overview_current_rate{
    font-size: 5rem;
}

.rating__overview_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.rating__overview_left label{
    font-size: 1.2rem;
}

.rating__overview_right{
    display: flex
}


.rating__overview_right_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 0.3rem;
}

.rating__overview_right_row{
    display: flex;
    align-items: center;
}

.rating__overview label{
    color: #000000;
}

.rating__overview label svg{
    color: #E04A4A;
}

.rating__container_grey{
    background-color: #E2E2E2;
    min-width: 15ch;
    height: 0.6rem;
    margin-left: 0.5rem;
}

.rating__container_red{
    background-color: #E04A4A;
    height: 0.6rem;
    width: 100%;
}

.rating__overview_right_col:nth-child(3){
    align-items:baseline;
}

.breadcrumbs a{
    color: #8FA0B7;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

.add_cart_toats .toast-header{
    justify-content: space-between;
}

.add_cart_toats .toast-body{
    padding: 0.5rem 5rem;
}

.add_cart_toats .toast-body a{
    width: 100%;
    border: none;
    background-color: rgb(250, 206, 85);
}