.cart h3{
    font-weight: 700;
}

.checkout-main-col-1{
    width: 3%;
}
.checkout-main-col-2{
    text-align: left;
    width: 40%;
}
.checkout-main-col-3{
    width: 10%;
}

.checkout-main-col-1, .checkout-main-col-3{
    text-align: center;
}

.cart-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2rem;
}

.checkout-main{
    width: 70%;
}

.checkout-main-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 0.5rem;
}

.checkout__product_header{
    background-color: #EAEAEA;
    padding: 0.5rem 0;
    font-weight: 600;
}

.checkout-main-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.checkout-aside{    
    font-family: 'Kufam', sans-serif;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-product-invoice{
    width: 100%;
    background-color: white;
    border-top: 3px solid #FF5D5D;
}

.checkout-product-invoice h4{
    padding: 0 1rem;
    padding-top: 1rem;
    font-weight: 700;
}

.checkout-product-invoice .container__flex{
    justify-content: space-between;
    padding: 0 1.5rem;
}

.checkout-product-invoice .container__flex span{
    font-weight: 600;
}

.checkout-product-invoice .container__flex text{
    text-decoration: underline;
}

.checkout-product-invoice .container__flex p{
    padding-left: 1.5rem;
}


.checkout-product-invoice .container__flex:nth-child(6) span{
    color: #f64545;
    font-weight: 600;
}

.checkout-product-invoice p{
    padding-left: 1.5rem;
    color: rgba(0, 0, 0, 0.46);
    font-size: 0.8rem;
}

.checkout-product-info{
    margin: auto 0;
}

.btn-buy-confirm{
    width: 100%;
    height: 2rem;
    background: #FF5D5D;
    border-radius: 5px;
    color: white;
    border: none; 
    font-weight: 700;
    font-size: 0.8em;    
}

.btn-buy-confirm:hover{
    background-color: #f64545;
    outline: 2px solid#d18e8e;
}

.checkout__aside_coupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.41);
    margin: 10px 15px 10px 15px;
    padding: 0 15px;
}

.checkout-aside-coupon-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
    margin: 0.8rem 0;
}

.ellipse{
    background: #FEFBC1;
    height: 50px;
    width: 60px;
    border-bottom-right-radius: 100%;
    z-index: -99;
}

.checkout__aside_coupon_icon{
    height: 50px;
    position: absolute;
    /* z-index:-1; */
    margin-left: 1rem;
}