.homepage_section_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 2.5rem;
    row-gap: 1rem;
    padding: 10px;
    margin-top: 2rem;
}

.homepage_section{
    display: block;
    background-color: white;
    margin-bottom: 1rem;
}

.homepage_section hr{
    margin-left: 2rem;
    margin-right: 2rem;
}

.homepage_section_head{
    padding: 0 2rem;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage_section_head a{
    font-size: 1rem;
    color: #FF0000;
}

.homepage_section_head img{
    height: 40px;
    padding-left: 0.5rem;
}

.homepage_section h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.homepage_section_head_title h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.homepage_section_head_title img{
    height: 40px;
}

.homepage_section_head_title{
    display: flex;
    align-items: center;
    color: #E04A4A;
}