.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    margin: auto 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 30%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-bar-search-field{
    outline: none;
    border: none;
    line-height: 28px;
    width: 100%;
    padding-left: 1rem;
}

.search-icon{
    background: #FF9B7F;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 30px;
    width: 50px;
    text-align: center;
    line-height: 28px;
}