.voucher__popup{
    border: 1px solid black;
    width: 450px;
    padding: 1rem 2rem;
}

.voucher__popup h4{
    font-family: 'Kufam', sans-serif;
    color: #DA4141;
    font-weight: 700;
    font-size: 24px;
}

.voucher__input{
    padding: 1rem 0;
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
}


.voucher__input button{
    background: #EEEEEE;
    border: 1px solid #A7A7A7;
    border-radius: 5px;
}

.voucher__input_container{
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    width: 78%;
}

.voucher__input_container input{
    border: none;
    outline: none;
    width: 90%;
}

.voucher__body_title{
    display: flex;
    justify-content: space-between;
}

.voucher__button_agree{
    margin-left:33%;
}