.signup-form{
    width: 589px;
    min-height: 600px;
    flex-wrap:wrap ;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 1rem 0;
}

.signup__section_1{
    width: 80%;
}

.signup__section_2{
    margin-bottom: 2rem;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.error_message_container{
    width: 100%;
    color:#c10d10;
    margin-bottom: 1rem;
    /* visibility: hidden; */
}

.signup-form input{
    border: none;
    outline: none;
    line-height: 28px;
    width: 100%;
    padding-left: 1em; 
    background-color: #FFF5F5;
}

.signup__section_2_col{
    width: 45%;
}

.signup-form-input-2 {
    line-height: 28px;
    border: none;
    outline: none;
    background-color: #FFF5F5;
    width: 100%;
    padding-left: 10px;
    color: #000000;
}

h2{
    text-transform: uppercase;
}

.divider{
    color: #00000080;
    display: flex;
    width: 85%;
    justify-content: center;
}

.divider p{
    margin: 0 1rem;
}

.line{
    align-self:center;
    width: 40%;
    border: 0;
    border-top: 1px solid #00000080;
}

.signup-form-else{
    margin-right: 10%;
    display: flex;
    align-self: end;
    font-size: 0.8rem;
}

.signup-form-else a{
    color: #9D471D;
}

.signup-form-else span{
    color: #A4B4C9;
}

.signup-input-container{
    border: 0;
    border-radius: 4px;
    height: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFF5F5;
    display: flex;
    align-items: center;
}

.eye{
    align-self: center;
    padding-right: 5px;
    font-size: 0.8rem;
}