.App {
    margin:0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'K2D', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    min-width: 70%;
    width: 1200px;
    margin: 0.5rem auto;
    padding: 0;
}

.button_pink{
    background: #FF5D5D;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0.5rem 2.5rem;
    font-weight: 700;
    font-size: 1em;
}

.error_input_containers{
    width: 90%;
    
}

hr{
    color: rgba(155, 154, 154, 0.76);
}

.container__flex{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.container__flex_col{
    display: flex;
    flex-direction: column;
}

.currency{
    text-decoration: underline;
    margin-left: 0.5rem;
}

.grey_text{
    color: rgba(0, 0, 0, 0.46);
}

@media (max-width:750px){
    .container{
        width: 90%;}
}

@media (max-width:550px){
    .container{
        width: 100%;}
}

.btn{
    transition: 0.2s;
}

.google-icon{
    font-size: 20px;
}

.body{
    background-color:#F9F8F8;
    min-height: 700px;
    padding: 1rem 0;
    font-family: 'K2D', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.icon_button{
    height: 1rem;
    width: 1rem;
}