.App {
    margin:0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

@media (max-width:650px){
    .container{
        width: 90%;}
}

.btn{
    transition: 0.2s;
}

.google-icon{
    font-size: 20px;
}

.body{
    background-color:#F9F8F8;
}