# điền vào những chỗ còn trống sau dấu bằng thích hợp và lưu lại vào thư mục backend với tên .env
PORT=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=
SECRET_KEY=
DEV_PGHOST=
DEV_PGPORT=
DEV_PGUSER=
DEV_PGPASSWORD=
DEV_PGDATABASE=
MOMO_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
VNPAY_TMN_KEY=
VNPAY_SECRETKEY=
GHN_TOKEN=
GHTK_TOKEN=
HOST=<front_end_host_production>
DEV_HOST=<front_end_host_dev>
DEV_REACT_APP_PAYMENT_SUCCESS='http://<front_end_host>/payment/success'
DEV_REACT_APP_PAYMENT_FAIL='http://<front_end_host>/payment/fail'